<!-- http://zozo.jp/shop/urbanresearchdoors/goods/22301152/?did=42063857&rid=1093 -->
#wrapper
  #gblHeaderStuck
    .header#gblHeader
      #hWrapper
        #hWrapperInner
          #header.clearfix
            .clearfix#hHeader
              %h1#hLogo
                = link_to "ZOZOTOWN", "http://zozo.jp/"
              #hItemSearch.clearfix
                %form{action:"/search", method:"get", name:"keyword"}
                  %p#hKeyword
                    %input#searchText.def{type:"text",name:"p_keyv",placeholder:"何かお探しですか？",autocomplete:"off"}
                  %p#hSubmit.hBtn
                    %input{title:"検索",type:"submit"}
            .clearfix#hCtrl
              %ul.clearfix#hCtrlList
                %li.hPopWrap.static#hUserName
                  %p#hThumbs
                    %span#hName
                      %span.userName.textTruncate ああああ様
                %li.hPopWrap.static#hNotice
                  = link_to "/notice/" do
                    %span.ico.ico_notice
                      %span 通知機能
                %li#hFavoriteLink.static.hPopWrap
                  = link_to "/_member/favoritelist/" do
                    %span#hFavorite.ico.ico_favorite
                      %span お気に入り
                %li#hCart
                  %span.clearfix
                    = link_to "/_cart/default.html" do
                      %span.ico.ico_cart
                        %span カート
                %li#hServiceMap.static.hPopWrap
                  %span.ico.ico_siteMap
                    %span サイトマップ
  #topBanner
    = link_to "http://zozo.jp/shop/urbanresearchdoors/" do
      = image_tag("http://zozo.jp/common_2015/img/blank.gif",alt:"URBAN RESEARCH DOORS（アーバン リサーチ ドアーズ）",height:"46")
  #headNavi
    %nav#breadCrumb
      %ul.clearfix
        %li
          = link_to "ZOZOTOWN","/"
        %li
          = link_to " URBAN RESEARCH DOORS","http://zozo.jp/shop/urbanresearchdoors/"
        %li
          = link_to " トップス", "http://zozo.jp/shop/urbanresearchdoors/tops/"
        %li
          = link_to " シャツ/ブラウス", "http://zozo.jp/shop/urbanresearchdoors/tops/shirt-blouse/"
        %li アイテム詳細
  #body.clearfix
    #nov
    #content
      %article
        #goods
          #contents.singleColumn.clearfix
            #main
              .innerMain
                #goodMainArea.clearfix
                  #goodsLeft
                    .innerLeft
                      #photoGallery
                        #photoMain
                          = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_1_D_500.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ホワイト")
                        %ul#prevNextCtrl
                          %li#btnPrev
                            %span Prev
                          %li#btnNext
                            %span Next
                        %p#photoCaption model:H178 着用サイズ:38
                        %ul#photoThimb
                          %li#did_42063857
                            #div_0
                              %span#goodsdiv_0
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_1_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ホワイト")
                            %p ホワイト
                            %span.imCaption model:H178 着用サイズ:38
                          %li#did_42063859
                            #div_1
                              %span#goodsdiv_1
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_8_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブラック")
                            %p ブラック
                            %span.imCaption model:H172 着用サイズ:38
                          %li#did_50713659
                            #div_2
                              %span#goodsdiv_2
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                            %p ブルー
                            %span.imCaption model:H172 着用サイズ:38
                          /
                          %li
                            #div_3
                              %span#goodsdiv_3
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                          /
                          %li
                            #div_4
                              %span#goodsdiv_4
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                          /
                          %li
                            #div_5
                              %span#goodsdiv_5
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                          /
                          %li
                            #div_6
                              %span#goodsdiv_6
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption model:H172 着用サイズ:38
                            %span
                          /
                          %li
                            #div_7
                              %span#goodsdiv_7
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                          /
                          %li
                            #div_8
                              %span#goodsdiv_8
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                          /
                          %li
                            #div_9
                              %span#goodsdiv_9
                                = image_tag("http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg",alt:"URBAN RESEARCH DOORS（アーバンリサーチドアーズ）の「ブロードストライプビッグシャツ（シャツ/ブラウス）」｜ブルー")
                              %span.imCaption
                            %span
                        / /.photoThumb
                      / /#photoGallery
                      #zozoReviewStatus.item_show_control.section.loadApiData
                        .tit.clearfix
                          %p.h.clearfix
                            ZOZOスタッフ着用レビュー
                            %span
                              (3件)
                        .container
                          .zozoStaff.indexMedia
                            .indexItem.feedMedia.clearfix
                              = link_to "/",class:"feedLink" do
                                %figure.feedFigure
                                  .feedThumbnail
                                    .feedThumbnail
                                      = image_tag("http://cdn.wimg.jp/coordinate/bgxirv/20170912165136294/20170912165136294_276.jpg",alt:"ZOZOTOWN｜Yudai Ishiiさんの",class:"feedImg")
                                %div
                                  .feedMeta
                                    %span.feedMetaItem  178cm / 普段のサイズ：M
                                  .feedH
                                    %span.softWrap 38 /
                                    %span.softWrap ブラック
                              %table.statusTbl
                                %tbody
                                  %tr
                                    %th 厚み
                                    %td
                                      %ul.lows.clearfix.thickness.mast2
                                        %li.colm.min 薄い
                                        %li.colm.cnt.cnt0.val0
                                          %i
                                        %li.colm.cnt.cnt1.val0
                                          %i
                                        %li.colm.cnt.cnt2.val0
                                          %i
                                        %li.colm.cnt.cnt3.val0
                                          %i
                                        %li.colm.cnt.cnt4.val0
                                          %i
                                        %li.colm.max 厚い
                      #use_coordinate.otherGoodsBlock.pickupBlock.item_show_control.section.loadApiData
                      / [/このアイテムを使ったコーディネート]
                      #snap_description.clearfix
                      / [関連商品API]
                      #getRecommendRelation.otherGoodsBlock.pickupBlock.loadApiData
                      / [関連商品API]
                      .clearfix.contentWrap.hide
                        / [関連トピックス]
                        #goodsTopics.item_show_control.loadApiData
                        / [/関連トピックス]
                        / [/ファッションまとめ]
                        #goodsFashionNews.item_show_control.loadApiData
                        / [/ファッションまとめ]
                    / /innerLeft
                  / /#goodsLeft
                  / [/左カラム]
                  / [右カラム]
                  #goodsRight
                    %div{"data-coupon" => "goodsBar"}
                    .innerRight
                      #item-intro
                        %ul#nameList
                          %li
                            ショップ：
                            %a{:href => "/shop/urbanresearchdoors/"} URBAN RESEARCH DOORS
                          %li
                            ブランド：
                            %a{:href => "/brand/urbanresearchdoors/"} URBAN RESEARCH DOORS
                        %h1 ブロードストライプビッグシャツ
                        #isLaterPay.clearfix
                          .priceWrapper
                            %p.price
                              ¥8,640
                              %span.tax 税込
                        #privilege
                          %p.privilegePoint 80ポイント還元（ZOZOCARD：160ポイント還元）
                          %p#userBookmark
                            お気に入りアイテム登録数：
                            %span> 1834
                            人
                          / p class="shipping">送料無料</p
                          / /privilege
                        .reserveBox
                          %p.tit.att
                            この商品は一部予約商品です
                          #arriveScheduleViewArea
                            %p
                              お届け：
                              %span#arriveScheduleView サイズ・カラーで異なります
                            %p
                              %a#showArriveSchedule{:href => "#"} お届け予定の確認はこちら
                          %p.attention
                            予約商品は、
                            %span.att> 注文取り消し・返品・交換対象外
                            です。
                          %ul.info
                            %li ※実際にお届けする商品と仕様やサイズが異なる場合がございます。
                            %li ※生産の都合上、お届け時期が前後する場合がございます。
                          / /.reserveBox
                          / [***予約***]
                          / [/グッズ情報]
                        / /#item-intro
                        / [カート関連]
                        .cartBlock.clearfix
                          .blockMain
                            %dl.clearfix
                              %dt
                                %span.img
                                  %img{:alt => "", :src => "http://img5.zozo.jp/goodsimages/152/23301152/23301152B_1_D_35.jpg"}/
                                %span.txt ホワイト
                              %dd
                                %ul
                                  %li#cart_did_42063854.clearfix{"data-size" => "38"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 38 / 
                                          %span 予約可能
                                        %p.zozosize
                                          %span.sizeZ
                                            %span M
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "33986647"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input.btn.reserveBtn{:type => "submit", :value => "予約する"}/
                                      / [***予約***]
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "42063854"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                                  %li#cart_did_42063857.clearfix{"data-size" => "40"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 40 / 
                                          %span 予約可能
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "33986648"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input.btn.reserveBtn{:type => "submit", :value => "予約する"}/
                                      / [***予約***]
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "42063857"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                            %dl.clearfix
                              %dt
                                %span.img
                                  %img{:alt => "", :src => "http://img5.zozo.jp/goodsimages/152/23301152/23301152B_8_D_35.jpg"}/
                                %span.txt ブラック
                              %dd
                                %ul
                                  %li#cart_did_42063858.clearfix{"data-size" => "38"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 38 / 
                                          %span 在庫あり
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "33986649"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input{:type => "submit", :value => "カートへ入れる"}/
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "42063858"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                                  %li#cart_did_42063859.clearfix{"data-size" => "40"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 40 / 
                                          %span 在庫あり
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "33986650"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input{:type => "submit", :value => "カートへ入れる"}/
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "42063859"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                            %dl.clearfix
                              %dt
                                %span.img
                                  %img{:alt => "", :src => "http://img5.zozo.jp/goodsimages/152/23301152/23301152B_34_D_35.jpg"}/
                                %span.txt ブルー
                              %dd
                                %ul
                                  %li#cart_did_50713659.clearfix{"data-size" => "38"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 38 / 
                                          %span 予約可能
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "40573142"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input.btn.reserveBtn{:type => "submit", :value => "予約する"}/
                                      / [***予約***]
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "50713659"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                                  %li#cart_did_50713660.clearfix{"data-size" => "40"}
                                    .cartbox
                                      .stock
                                        %p
                                          %span 40 / 
                                          %span 予約可能
                                      .cart
                                        %form{:action => "/_cart/default.html", :method => "post"}
                                          %input{:name => "c", :type => "hidden", :value => "put"}/
                                          %input{:name => "sid", :type => "hidden", :value => "40573143"}/
                                          %input{:name => "rid", :type => "hidden", :value => "1093"}/
                                          %input{:name => "p_seckey", :type => "hidden", :value => "7a54a0f5eefd49623471186d51aaaf73"}/
                                          %span.btn
                                            %input.btn.reserveBtn{:type => "submit", :value => "予約する"}/
                                      / [***予約***]
                                      .bkmk
                                        %form{:action => "#", :onsubmit => "return false;"}
                                          %span.btn
                                            %input{:type => "submit", :value => ""}/
                                          %input{:name => "gid", :type => "hidden", :value => "22301152"}/
                                          %input{:name => "did", :type => "hidden", :value => "50713660"}/
                                          %input{:name => "zsids", :type => "hidden", :value => ""}/
                          / /.blockMain
                        / /.cartBlock
                        / [/カート関連]
                      / /.infoBlock
                      / [詳細情報]
                      .tabContainer
                        .detailBlock
                          #swConditionTab
                            .tab
                              %ul.clearfix
                                %li.current
                                  %a{:href => "#tabItemInfo"} アイテム説明
                                %li
                                  %a{:href => "#tabSizeInfo"} サイズ詳細
                          #tabItemInfo.explanationBlock.tabInner.current
                            .innerBox
                              .contbox
                                %strong{:style => "font-weight:bold;"} 2月16日 ご好評につき、予約販売を開始いたしました
                                = succeed "\u{203b}\u{5728}\u{5eab}\u{72b6}\u{6cc1}\u{306b}\u{3088}\u{308a}\u{3001}\u{65e2}\u{306b}\u{901a}\u{5e38}\u{8ca9}\u{58f2}\u{3057}\u{3066}\u{3044}\u{308b}\u{5e97}\u{8217}\u{304c}\u{3054}\u{3056}\u{3044}\u{307e}\u{3059}\u{306e}\u{3067}\u{4e88}\u{3081}\u{3054}\u{4e86}\u{627f}\u{304f}\u{3060}\u{3055}\u{3044}\u{3002}" do
                                  %br/
                                = succeed "\u{30aa}\u{30ea}\u{30b8}\u{30ca}\u{30eb}\u{306e}\u{30d5}\u{30a1}\u{30d6}\u{30ea}\u{30c3}\u{30af}\u{3092}\u{7528}\u{3044}\u{305f}\u{30d3}\u{30c3}\u{30b0}\u{30b7}\u{30e3}\u{30c4}\u{3002}" do
                                  %br/
                                = succeed "\u{30c9}\u{30ed}\u{30c3}\u{30d7}\u{3059}\u{308b}\u{80a9}\u{5e45}\u{3001}\u{3086}\u{3068}\u{308a}\u{306e}\u{3042}\u{308b}\u{8eab}\u{5e45}\u{3001}\u{3084}\u{3084}\u{9577}\u{3081}\u{306e}\u{4e08}\u{3068}\u{5168}\u{4f53}\u{7684}\u{306b}\u{30d3}\u{30c3}\u{30b0}\u{30b7}\u{30eb}\u{30a8}\u{30c3}\u{30c8}\u{306b}\u{4ed5}\u{4e0a}\u{3052}\u{307e}\u{3057}\u{305f}\u{3002}" do
                                  %br/
                                = succeed "\u{30b9}\u{30c8}\u{30e9}\u{30a4}\u{30d7}\u{67c4}\u{3067}\u{30b9}\u{30bf}\u{30a4}\u{30ea}\u{30c3}\u{30b7}\u{30e5}\u{3055}\u{306f}\u{6b8b}\u{3057}\u{3001}\u{7d30}\u{8eab}\u{306e}\u{30d1}\u{30f3}\u{30c4}\u{3068}\u{306e}\u{76f8}\u{6027}\u{304c}\u{25ce}\u{3002}" do
                                  %br/
                                .infoBlock
                                  .infoBox
                                    %br/
                                    %p ※ご注文いただいた予約商品のお届け時期の確認は、注文履歴ページより行えます。
                                    %p ※予約商品は、その他の予約商品や通常商品との同時決済はできません。
                                / /.infoBlock
                              / /.contbox
                            / /.innerBox
                            #itemDetailInfo.innerBox
                              .contbox
                                %dl
                                  %dt
                                    性別タイプ
                                    %span :
                                  %dd
                                    %a{:href => "/search/?sex=men"} メンズ
                                  %dt
                                    カテゴリ
                                    %span :
                                  %dd
                                    %ul.lineNavi.clearfix
                                      %li
                                        %a{:href => "/category/tops/"} トップス
                                        %span >
                                      %li
                                        %a{:href => "/category/tops/shirt-blouse/"} シャツ/ブラウス
                                  %dt
                                    素材
                                    %span :
                                  %dd 綿100%
                                  %dt
                                    原産国
                                    %span :
                                  %dd 中国
                                  %dt
                                    即日配送
                                    %span :
                                  %dd
                                    %span.exShippingInfolink
                                      %a{:href => "#"}> 即日配送
                                      不可
                                  %dt
                                    送料
                                    %span :
                                  %dd
                                    購入金額に関わらず一律200円
                                    %a{"data-target" => "#choicePostageModal", "data-toggle" => "modalbox", :href => "#"} 詳細
                                  %dt
                                    ギフト
                                    %span :
                                  %dd
                                    %span.giftOver
                                      一部
                                      %a{:href => "#"}> ラッピング
                                      不可
                                  %dt
                                    問い合わせ番号
                                    %span :
                                  %dd 23301152（ZOZO）
                                  %dd.goodsData2 DR76-13Y014（店舗）
                              / /.contbox
                            / /.innerBox
                            .blockBottom
                              %p.detail_link
                                %a{:href => "/_help/default.html?cid=11#q6"} 返品の詳細
                                %span.lines |
                                %a{:href => "/_help/default.html?cid=7"} ポイントの詳細
                              / <p><a href="http://zozo.jp/gift/kits.html"  style="font-size: 108%; font-weight: bold;">プレゼント用ですか？ ZOZOオリジナルギフトキット販売中。詳しくはこちら</a></p>
                            / /.blockBottom
                          / [アイテムサイズ]
                          #tabSizeInfo.sizeBlock.tabInner
                            #itemSize.innerBox
                              #tblItemSize.clearfix.staticTbl.tblSize
                                %table.noScrollTbl
                                  %thead
                                    %tr
                                      %th サイズ
                                      %th.dataName{"data-label" => "1"} 着丈
                                      %th.dataName{"data-label" => "2"} 肩幅
                                      %th.dataName{"data-label" => "26"} 身幅
                                      %th.dataName{"data-label" => "4"} そで丈
                                  %tbody
                                    %tr.specDetail{"data-size" => "38"}
                                      %th{"data-size" => "38"} 38
                                      %td{"data-label" => "1"} 78
                                      %td{"data-label" => "2"} 50
                                      %td{"data-label" => "26"} 58
                                      %td{"data-label" => "4"} 58
                                    %tr.specDetail{"data-size" => "40"}
                                      %th{"data-size" => "40"} 40
                                      %td{"data-label" => "1"} 80
                                      %td{"data-label" => "2"} 52
                                      %td{"data-label" => "26"} 60
                                      %td{"data-label" => "4"} 59
                              #purchasedBlock
                              %p.bottomText ※ZOZOTOWN独自の方法により採寸しております。
                              %p.link
                                %a.ico_pop{:href => "javascript:WinOpenSize('/shop/sizeguide.html#2004',600,600,510,80)"} サイズガイド
                        / /.detailBlock
                      / [/詳細情報]
                      #snsBtn
                        %ul#social.clearfix
                          / [おねだり]
                          %li#onedari-mailbutton.giveMeMail
                            %a{:href => "javascript:coaxButton();"}
                              %img{:alt => "おねだりメール", :height => "24", :src => "/common_2015/img/ico/ico_giveMe.gif", :width => "24"}/
                          / [/おねだり]
                          %li.twitter
                            %a.shareTw{:href => "http://twitter.com", :target => "blank"}
                              %img{:alt => "Twitterでシェア", :height => "24", :src => "/common_2015/img/ico/ico_share_tw.gif", :width => "24"}/
                          %li.facebook
                            %a.shareFb{:href => "http://www.facebook.com", :target => "blank"}
                              %img{:alt => "Facebookでシェア", :height => "24", :src => "/common_2015/img/ico/ico_share_fb.gif", :width => "24"}/
                          %li.google
                            %a.shareGp{:href => "https://plus.google.com/", :target => "blank"}
                              %img{:alt => "Googleでシェア", :height => "24", :src => "/common_2015/img/ico/ico_share_gp.gif", :width => "24"}/
                        / /#snsBtn
                      .goodsAddFavBtn
                        %p.txt このブランド「URBAN RESEARCH DOORS」はお好きですか？
                        %p.brand
                          %a#addFavBrand{:href => "#"}
                            %span.rearrival このブランドをお気に入りに登録
                        / /.goodsAddFavBtn
                    / /.innerRight
                  / /#goodsRight
                  / [/右カラム]
                / /#goodMainArea
                / [/商品メインエリア]
                / [このアイテムを見ている人は、こんなアイテムも見ています]
                #getRecommendViewed.item_show_control.section.loadApiData.moreViewStyle
                / [/このアイテムを見ている人は、こんなアイテムも見ています]
                / [このアイテムを見ている人におすすめ]
                #getRecommendByScore.item_show_control.section.loadApiData.moreViewStyle
                / [/このアイテムを見ている人におすすめ]
                / [人気＊＊＊のランキング]
                #getGoodsRanking.item_show_control.section.rankingList.loadApiData.moreViewStyle
                / [人気＊＊＊のランキング]
                / [最近チェックしたアイテム]
                #history_item.item_show_control.section.loadApiData
                / [/最近チェックしたアイテム]
                / [関連キーワード]
                .keywordBlock.section
                  %h3 このアイテムのキーワード
                  %ul.tagLink.clearfix
                    %li
                      %a{:href => "/category/tops/shirt-blouse/?p_gttagid=5493_21159"} 長袖
                    %li
                      %a{:href => "/category/tops/shirt-blouse/?p_gttagid=5496_21170"} ミドル丈
                    %li
                      %a{:href => "/category/tops/shirt-blouse/?p_gttagid=5497_21175"} ストライプ柄
                    %li
                      %a{:href => "/category/tops/shirt-blouse/?p_gttagid=7460_56820"} レギュラーカラー
                    %li
                      %a{:href => "/category/tops/shirt-blouse/?p_gttagid=7461_56824"} コットン
                  / ./lineNavi
                / /.keywordBlock
                / [関連キーワード]
                / [他のショップの***を見る]
                #other_shop_item.item_show.section
                  .tit.clearfix
                    %p.h 他のショップのシャツ/ブラウスを見る
                  .container
                    .data
                      %ul.clearfix
                        %li
                          %a{:href => "/shop/cawaii/tops/shirt-blouse/"} cawaii
                        %li
                          %a{:href => "/shop/efdeisee/tops/shirt-blouse/"} EFDEISEE
                        %li
                          %a{:href => "/shop/ehyphen/tops/shirt-blouse/"} E hyphen world gallery
                        %li
                          %a{:href => "/shop/oneway/tops/shirt-blouse/"} one way
                        %li
                          %a{:href => "/shop/vizstore/tops/shirt-blouse/"} VIZ STORE
                        %li
                          %a{:href => "/shop/duffer/tops/shirt-blouse/"} The DUFFER of St.GEORGE
                        %li
                          %a{:href => "/shop/bountyhunter/tops/shirt-blouse/"} BOUNTY HUNTER
                        %li
                          %a{:href => "/shop/soup/tops/shirt-blouse/"} SOUP
                / [/他のショップの***を見る]
                / [ZOZOTOWNのご紹介]
                %section#about.section.pickup
                  .clearfix.sectionHeader
                    %h2 ZOZOTOWN（ゾゾタウン）のご紹介
                  .txt
                    %p ZOZOTOWNはURBAN RESEARCH DOORS（アーバンリサーチドアーズ）のシャツ/ブラウスなど、人気ブランドのアイテムを多数取り揃えるファッション通販サイトです。シャツ/ブラウスなど、6420ブランドの最新アイテムをオンラインでご購入いただけます。
                / [/ZOZOTOWNのご紹介]
                #clearBg_smp.hide
                #giftSampleOverray.popWinWrapper.hide
                  #sampleInfo
                #mySizeImgOverray.popWinWrapper.hide
                / /商品詳細
              / /.innerMain
            / /#main
            / [/メイン]
          / /#contents
          / [/コンテンツ]
        / /#goods
        / ↑↑↑コンテンツここまで↑↑↑
      / /#content
    / /#body


















