#cartRecordList
  %li.photoRecord
    = link_to item_path(cart_record.item_list.item) do
      = image_tag(cart_record.item_list.item.images.first.image_url,alt: "商品画像",width:"125",height:"150")
  %li.detailRecord
    %p #{cart_record.item_list.item.brand.name}
    %p ¥#{cart_record.item_list.item.proposed_price}
    %span.btn
      = link_to 'カートに入れる',carts_path(item_list_id: cart_record.item_list_id), method: :post
